<section class="section-one">
  <img src="/assets/about/ian.jpg" alt="Ian Annoh image">

  <div>
    <h2>Ian Annoh</h2>

    <p>Frontend Developer | Building dynamic and responsive web applications.</p>
  </div>
</section>

<section class="section-two">
  <h2>Educational background</h2>

  <div class="box">
    <div class="container">
      <img src="/assets/about/ug.png" alt="university of ghana logo">

      <div>
        <p class="header">University of Ghana</p>
        <p>Bsc. Information Technology</p>
      </div>
    </div>

    <p class="mode">Accra, Ghana</p>

    <p>February, 2024 - Present</p>
  </div>

  <div class="box">
    <div class="container">
      <img src="/assets/about/udemy.jpg" alt="udemy logo">

      <div>
        <p class="header">Udemy</p>
        <p>The Web Developer Bootcamp (74-hour course)</p>
      </div>
    </div>

    <p class="mode">Online</p>

    <p>July, 2022 - October, 2022</p>
  </div>

  <div class="box">
    <div class="container">
      <img src="/assets/about/presec.png" alt="Presec legon badge">

      <div>
        <p class="header">Presbyterian Boys', Legon</p>
        <p>WASSCE</p>
      </div>
    </div>

    <p class="mode">Legon, Accra</p>

    <p>September, 2014 - May, 2017</p>
  </div>

  <a href="/assets/about/Annoh_Ian_CV.pdf" target="_blank" rel="noopener">Resume</a>
</section>

<section class="section-three">
  <h2>Overview</h2>

  <p>"Ian is a frontend developer focused on building clean, responsive, and intuitive web applications. He utilises frontend frameworks like Angular & React, using CSS and Bootstrap to create layouts that are both functional and visually balanced. He also pays close attention to structure, usability, and how users actually interact with a product.
    Alongside frontend development, Ian has backend experience with Express.js, MySQL, and Mongoose, which expands his understanding of how interfaces connect to data and backend logic. Ian enjoys writing maintainable code, improving user experience, and contributing to products that are practical, reliable, and thoughtfully built."</p>
</section>

<section class="section-three">
  <h2>Industry Experience</h2>

  <p class="exp">Ian has built wide variety of web applications in fields of health, armoury, portfolio websites, e-commerce etc. His clientele list also includes prominent companies and government agencies</p>
</section>

<section class="section-three">
  <h2>Hobbies</h2>

  <p class="exp">When Ian is not immersed in code, you will find him listening to hip/hop or RnB music. He enjoys a good hoop session with friends also. Ian also takes French lessons on Duolingo is making steady progress.</p>
</section>
