<section class="section-one">
  <img src="/assets/about/pp-2.jpeg" alt="">

  <div>
    <h2>Ian Annoh</h2>

    <p class="overview">Overview</p>

    <p>Frontend Developer | Building dynamic and responsive web applications.</p>
  </div>
</section>

<section class="section-two">
  <h2>Educational background</h2>

  <div class="box">
    <div class="container">
      <img src="/assets/about/ug.png" alt="">

      <div>
        <p class="header">University of Ghana</p>
        <p>Bsc. Information Technology</p>
      </div>
    </div>

    <p class="mode">Accra, Ghana</p>

    <p>February, 2024 - Present</p>
  </div>

  <div class="box">
    <div class="container">
      <img src="/assets/about/udemy.jpg" alt="">

      <div>
        <p class="header">Udemy</p>
        <p>The Web Developer Bootcamp (74-hour course)</p>
      </div>
    </div>

    <p class="mode">Online</p>

    <p>July, 2022 - October, 2022</p>
  </div>

  <div class="box">
    <div class="container">
      <img src="/assets/about/presec.png" alt="">

      <div>
        <p class="header">Presbyterian Boys', Legon</p>
        <p>WASSCE</p>
      </div>
    </div>

    <p class="mode">Legon, Accra</p>

    <p>September, 2014 - May, 2017</p>
  </div>

  <a href="/assets/about/Annoh_Ian_CV.pdf" target="_blank" rel="noopener">Resume</a>
</section>
