<section class="section-one">
  <div class="heading">
    <img src="/assets/home/glitter.svg" alt="glitter icon">

    <p>FEATURED PROJECT</p>
  </div>

  <h3>Content Management System.</h3>

  <p>CMS that updates content on the Vandzilah Technology website.</p>

<!--  <a><img src="/assets/home/github-logo.png" alt="github-logo"> Source</a>-->

  <div class="box">

    <div>
      <img src="/assets/home/calender.svg" alt="calender icon">
      <p>YEAR</p>
      <h6>2026</h6>
    </div>

    <div>
      <img src="/assets/home/team-icon.svg" alt="team icon">
      <p>TEAM</p>
      <h6>1 Engineer</h6>
    </div>

    <div>
      <img src="/assets/home/user-role.svg" alt="role icon">
      <p>Role</p>
      <h6>Lead Engineer</h6>
    </div>

  </div>

</section>

<section class="section-two">
  <div class="heading">
    <img src="/assets/home/spiral.svg" alt="glitter icon">

    <p>OVERVIEW</p>
  </div>

  <p>A dashboard that:</p>

  <ul>
    <li>Updates Staff data (Names, Photos & Role)</li>
    <li>Add, edit & delete company blogs.</li>
    <li>Post & delete job opportunities</li>
  </ul>

</section>

<section class="section-three">

  <div CLASS="heading">
    <img src="/assets/home/image-icon.svg" alt="image icon">
    <p>SCREENSHOTS</p>
  </div>

  <app-slider [images]="images"></app-slider>

</section>


