<section class="section-one">
  <div class="heading">
    <img src="/assets/home/glitter.svg" alt="glitter icon">

    <p>FEATURED PROJECT</p>
  </div>

  <h3>VITALS FIRST</h3>

  <p>A platform for clinics and doctors to monitor patients vitals (blood pressure & sugar level) </p>

<!--  <a> <img src="/assets/home/github-logo.png" alt="github-logo"> Source</a>-->

  <div class="box">

    <div>
      <img src="/assets/home/calender.svg" alt="calender icon">
      <p>year</p>
      <p>2025</p>
    </div>

    <div>
      <img src="/assets/home/team-icon.svg" alt="team icon">
      <p>Team</p>
      <p>4 Engineers</p>
    </div>

    <div>
      <img src="/assets/home/user-role.svg" alt="role icon">
      <p>Role</p>
      <p>Frontend Developer</p>
    </div>

  </div>

</section>

<section class="section-two">
  <div class="heading">
    <img src="/assets/home/spiral.svg" alt="glitter icon">

    <p>OVERVIEW</p>
  </div>

  <p>Vitals First receives data from patients via the First Responder App. Its features include:</p>

  <ul>
    <li>A dashboard for every clinic that enrolls onto the platform.</li>
    <li>Admins can monitor vitals of patients from only their clinics.</li>
    <li>Analytics page that gives an overview of patient and clinic data.</li>
  </ul>

</section>

<section class="section-three">

  <div CLASS="heading">
    <img src="/assets/home/image-icon.svg" alt="image icon">
    <p>SCREENSHOTS</p>
  </div>

  <app-slider [images]="images"></app-slider>

</section>


