<section class="section-one">
  <div class="heading">
    <img src="/assets/home/glitter.svg" alt="glitter icon">

    <p>FEATURED PROJECT</p>
  </div>

  <h3>Ghana National Arms Management Portal</h3>

  <p>A dashboard with segregated powers, to register firearms of both civilians and law enforcement agencies.</p>

<!--  <a><img src="/assets/home/github-logo.png" alt="github-logo"> Source</a>-->

  <div class="box">

    <div>
      <img src="/assets/home/calender.svg" alt="calender icon">
      <p>year</p>
      <p>2025</p>
    </div>

    <div>
      <img src="/assets/home/team-icon.svg" alt="team icon">
      <p>Team</p>
      <p>3 Engineers</p>
    </div>

    <div>
      <img src="/assets/home/user-role.svg" alt="role icon">
      <p>Role</p>
      <p>Frontend Developer</p>
    </div>

  </div>

</section>

<section class="section-two">
  <div class="heading">
    <img src="/assets/home/spiral.svg" alt="glitter icon">

    <p>OVERVIEW</p>
  </div>

  <p>The GNAPS portal:</p>

  <ul>
    <li>Allows relevant agencies register, flag and revoke firearm licenses.</li>
    <li>Segregated user power to ensure oversight and security.</li>
    <li>Has a separate portal to verify status of existing licenses. Made purposeful for patrol officers.</li>
    <li>Analytics page that shows number of licenses issued, revoked and flagged firearms in the system.</li>
  </ul>

</section>

<section class="section-three">

  <div CLASS="heading">
    <img src="/assets/home/image-icon.svg" alt="image icon">
    <p>SCREENSHOTS</p>
  </div>

  <app-slider [images]="images"></app-slider>

</section>


