/*Hamburger*/
.ham {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 2rem;
  cursor: pointer;
  border: 2px solid green;
}

nav {
  position: fixed;
  top: 5rem;
  left: 1rem;
  width: 28%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity 0.6s ease-in-out,
  visibility 0s ease-in-out 0.6s,
  transform 0.6s ease-in-out;
  border: 2px solid red;
}

nav.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.6s ease-in-out,
  visibility 0.6s ease-in-out,
  transform 0.6s ease-in-out;
}

ul {
  border: 2px solid blue;
  list-style: none;

  li {
    border: 2px solid red;
  }
}

section {
  border: 2px solid pink;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 0;

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-right: 1rem;
  }
}



