<p [class.hideHam]="showSideBar" (click)="setSidebar()" class="ham"> &#9776;</p>


<nav [class.show]="showSideBar">
  <div (click)="setSidebar()" class="bg"></div>
  <ul>
    <li (click)="setSidebar()"><a class="intro" routerLink="/" routerLinkActive="routerLinkActive" [routerLinkActiveOptions]={exact:true}>About</a></li>
    <li (click)="setSidebar()"><a routerLink="/projects" routerLinkActive="routerLinkActive">Projects</a></li>
    <li (click)="setSidebar()"><a routerLink="/professional-skills" routerLinkActive="routerLinkActive">Professional skills</a></li>
    <li (click)="setSidebar()"><a routerLink="/contact" routerLinkActive="routerLinkActive">Contact</a></li>
  </ul>

  <img src="/assets/sidebar/ian-logo.png" alt="">
</nav>

<footer>
  <img src="/assets/sidebar/ian-logo-short.png" alt="profile picture">

<!--  <p>Ian Annoh</p>-->
</footer>
