<section>
  <h2>Let's talk.</h2>

  <p>The quickest ways to reach me.</p>

  <div class="container">
    <a target="_blank" rel="noopener" href="mailto: ianannoh32@icloud.com">
      <img class="icon" src="/assets/contact/email.svg" alt="email icon">

      <div>
        <p>EMAIL</p>

        <h6>ianannoh32&#64;icloud.com</h6>
      </div>

      <img class="right-arrow" src="/assets/contact/right-arrow.svg" alt="">
    </a>

    <a target="_blank" rel="noopener" href="tel: +233 54 720 6496">
      <img class="icon" src="/assets/contact/phone.svg" alt="phone icon">

      <div>
        <p>PHONE</p>

        <h6>+233 54 720 6496</h6>
      </div>

      <img class="right-arrow" src="/assets/contact/right-arrow.svg" alt="">
    </a>

    @for (c of contacts; track c.id) {
      <a target="_blank" rel="noopener" [href]="c.url">
        <img class="icon" [src]="c.image" alt="{{c.field}} icon">

        <div>
          <p>{{c.field}}</p>

          <h6>{{c.name}}</h6>
        </div>

        <img class="right-arrow" src="/assets/contact/right-arrow.svg" alt="">
      </a>
    }
  </div>

</section>
