<section>
  <div>
    <a target="_blank" rel="noopener" href="mailto: ianannoh32@icloud.com">
      <img src="/assets/contact/email-opened-svgrepo-com.svg" alt="email-icon">
    </a>
  </div>

  <div>
    <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/ian-annoh-a274b1351?utm_source=share_via&utm_content=profile&utm_medium=member_ios">
      <img src="/assets/contact/linkedin-color-svgrepo-com.svg" alt="linkedin-icon">
    </a>
  </div>

  <div>
    <a target="_blank" rel="noopener" href="https://www.instagram.com/ianannoh/">
      <img src="/assets/contact/instagram-2-1-logo-svgrepo-com.svg" alt="instagram-icon">
    </a>
  </div>

</section>
