section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section > div {
  border: 1px solid #D9D9D9;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 25px;
}

section .heading {
  border: none;
  padding: 0;
}

.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  text-align: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

h6 {
  margin-bottom: 1rem;
}

img {
  height: 3rem;
  width: 3rem;
}




@media (min-width: 737px) and (max-width: 1080px) {
  section {
    width: 100%;
  }
}


@media (max-width: 736px) {
  section {
    width: 100%;
  }

  section > div {
    padding: 1rem;
  }

  img {
    height: 2.5rem;
    width: 2.5rem;
  }


}
