<section>
  <div class="heading">
    <h2>What I Build With</h2>

    <p>A concise snapshot of my professional toolkit</p>
  </div>

  <div>
      <h6>LANGUAGES</h6>

    <div class="container">
      @for (s of languages; track s.name) {
        <div>
          <img [src]="s.img" alt="{{s.name}} image">

          <small>{{s.name}}</small>
        </div>
      }
    </div>

  </div>

  <div>
    <h6>FRONTEND</h6>

    <div class="container">
      @for (s of frontend; track s.name) {
        <div>
          <img [src]="s.img" alt="{{s.name}} image">

          <small>{{s.name}}</small>
        </div>
      }
    </div>


  </div>

  <div>
    <h6>BACKEND</h6>

    <div class="container">
      @for (s of backend; track s.name) {
        <div>
          <img [src]="s.img" alt="{{s.name}} image">

          <small>{{s.name}}</small>
        </div>
      }
    </div>


  </div>

  <div>
    <h6>DATABASES</h6>

    <div class="container">
      @for (s of database; track s.name) {
        <div>
          <img [src]="s.img" alt="{{s.name}} image">

          <small>{{s.name}}</small>
        </div>
      }
    </div>


  </div>

  <div>
    <h6>PRACTICES</h6>

    <div class="container">
      @for (s of practices; track s.name) {
        <div>
          <img [src]="s.img" alt="{{s.name}} image">

          <small>{{s.name}}</small>
        </div>
      }
    </div>


  </div>
</section>


