section {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

a {
  color: black;
}

.container {
  display: flex;
  align-items: center;

  .header {
    font-weight: 700;
  }

  p {
    font-size: 1rem;
  }

  img {
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
    border-radius: 5px;
  }
}



@media (min-width: 737px) and (max-width: 1080px) {
  section {
    width: 100%;
  }
}


@media (max-width: 736px) {
  section {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .container {

    p {
      font-size: 0.7rem;
    }

    img {
      height: 3rem;
      width: 3rem;
    }
  }
}
